$facebook-color-1: rgb(66, 103, 178);
$facebook-messenger-color-1: rgb(0, 178, 255);
$facebook-messenger-color-2: rgb(0, 106, 255);
$instagram-color-1: rgb(131, 58, 180);
$instagram-color-2: rgb(230, 0, 35);
$instagram-color-3: rgb(255, 220, 128);
$twitter-color-1: rgb(29, 161, 242);
$pinterest-color-1: rgb(200, 35, 44);
$linkedin-color-1: rgb(14, 118, 168);
$github-color-1: rgb(23, 21, 21);
$spotify-colo-1: rgb(30, 215, 96);
$youtube-color-1: rgb(255, 0, 0);
$whatsapp-color-1: rgb(37, 211, 102);
$skype-color-1: rgb(0, 175, 240);
$snapchat-color-1: rgb(255, 252, 0);
